body, html{
  font-family: 'Ubuntu', sans-serif !important;
}
.navbar-brand{font-weight:700 !important;}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0 !important;
}
.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
@media screen and (max-width: 600px) {
.parent {
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}}
.icon-square{
  margin:3px;
  font-size:2em;
}
.bg-teal-400{color:#000;background-color:#4dd4ac}
.bg-green-400{color:#000;background-color:#479f76}
.doc{margin-top:10px;}
hr{opacity:0.1;}
.codebox{
  position:relative;
  display:block;
  background-color:rgba(155,170,175,0.12);
  color:#000;
  white-space:pre-wrap;
  padding:16px;
  border:0;
  border-radius:8px;
}
